@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  scrollbar-gutter: stable;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.markdown {
  @apply whitespace-normal;
}

.markdown ul {
  @apply my-2 pl-5 list-disc;
}

.markdown li {
  @apply mb-2;
}

.markdown a {
  @apply underline
}